*{
    box-sizing: border-box;
    margem:0;
    preenchimento:0;
}
.corpo{
    antecedentes: gainsboro;
    largura: 99vw;
    min-largura: 580px;
    alinhamento de texto:centro;
    fonte-família:'Poppins',sans-serif;
}

.um{
    largura: 110px;
    exibição: bloco em linha;
    texto-decoração: nenhuma;
}

.cabeçalho{
    exibição: flex;
    flex-direção: coluna;
    itens de alinhamento:centro;
    justificar-conteúdo:centro;
    altura:7vh;
    largura: 100%;    
}

header ul li{
    estilo de lista:nenhum;
    exibição: bloco em linha;
}

.cabeçalhoa {
    cor: preto;
    tamanho da fonte: 20px;
}

.cabeçalhoa:passar o mouse{
    borda: cinza sólidode 2 px;
    raio da borda: 8px;
}
  

#inicial{
    plano de fundo:url(.. /images/hotel.jpg)centro sem repetição;
    tamanho do fundo: tampa;
    altura: 70vh;
    cor: branco;
    exibição: flex;
    flex-direção: coluna;
    justificar-conteúdo:centro;
    itens de alinhamento:centro;
}

#h2 inicial{
    tamanho da fonte: 3.2em;
    margem: 2%;
}

#iniciala{
    largura: 150px;
    altura: 42px;
    linha-altura: 40px;
    raio da borda: 8px;
    cor: branco;
    borda: 1pxbranco sólido;
    nome da animação:botao;
    animação-duração: 2.5s;
    animação-iteração-contagem:infinito;
    animação-atraso:0.1s;
}

#inicial a:passar o mouse{
    transição:0,5s;
    plano de fundo: rgba (0,0,0,0.6);
}

@keyframes botao{
    0%{
        transformar:translateX(-30px);
    }
    25%{
        transformar:traduzirX(30px);
    }
    50%{
        transformar:translateX(-30px);
    }
    75%{
        transformar:traduzirX(30px);
    }
    100%{
        transformar:translateX(-30px);
    }
}

#reservar{
    plano de fundo:#6f7075 ;
    cor: branco;
    largura: 80vw;
    altura:15vh;
    raio da borda: 8px;
    margem: -7.5vh auto0vh;
    exibição: flex;
    justificar-conteúdo:espaço-em torno ;
    justificar-itens:centro;
    itens de alinhamento:centro;


}


#reservah3{
    tamanho da fonte: 2em;
    transformação de texto:maiúsculas;
}

#reservap{
    tamanho da fonte: 0.8em;
}


#reservar div{
    largura: 40%;
}

#reservarinput[type="date"]{
    largura: 95%;
    raio da borda: 8px;
    borda:nenhuma;
    tamanho da fonte: 2em;
    alinhamento de texto:centro;
}

#reservarinput[type="enviar"]{
    plano de fundo: transparente;
    contorno:nenhum;
    borda:nenhuma;
    borda-fundo: 2pxfumaça branca sólida;
    cor: branco;
    tamanho da fonte: 20px;
}

#quartos{
    cor: preto;
    altura:45vh;
    exibição: flex;
    margem: 0automático;
    justificar-conteúdo:centro;
    flex-direção: coluna;
    max-largura: 1830px;
}

#quartos. quarto-imagem{
    exibição: flex;
    altura:30vh;
}

. suíte {
    exibição: flex;
    flex-direção: coluna;
    justificar-conteúdo:espaço-ao redor;
    margem: 1%;
    largura: 25vw;
}

. suíteh6,h4{
    fonte-peso: 400;
}

. suíteh4{
    tamanho da fonte: 20px;
}

. suíteh6{
    tamanho da fonte: 14px;
}

. suiteimg{
    largura: 100%;
    altura: 100%;
    raio da borda: 8px;
    transição:0,2s;
}

. suiteimg: passar o mouse{
    opacidade:0.5;
    cursor:ponteiro;
    transição:0,2s;
}

#servicos |{
    fundo: branco;
    exibição: flex;
    flex-direção: coluna;
    justificar-conteúdo:centro;
    altura:45vh;

}

#servicos. nossos-servicos{
    flex-direção: linha;
    exibição: flex;
    justificar-conteúdo:espaço-ao redor;
}

. nossos-servicosdiv{
    antecedentes: gainsboro;
    largura: 30vw;
    altura:10vh;
    raio da borda: 8px;
    margem: 5 px 0px;
}


. oferecidos {
    exibição: flex;
    justificar-conteúdo:espaço-ao redor;
    preenchimento: 030px;
}

. oferecidos:passar o mouse{
    opacidade:0.5;
    transição:0,2s;
}

. oferecidosp {
    alinhamento de texto:centro;
    exibição: flex;
    itens de alinhamento:centro;
    tamanho da fonte: 24px;
}

. oferecidosimg{
    largura: 30%; 
    transição:0,2s;
}


#inscrever{
    altura:25vh;
    exibição: flex;
    justificar-conteúdo:espaço-ao redor;
    itens de alinhamento:centro;
}

#inscrever p{
    tamanho da fonte: 30px;
    nome da animação:chaqualhar;
    animação-duração:1.5s;
    atraso-animação: 0,5s;
    animação-iteração-contagem:infinito;
}

@keyframes chaqualhar {
    0%{
        transformar:traduzirX(0px);
    }
    25%{
        transformar:traduzirX(30px));
    }
    50%{
        transformar:traduzirX(0px);
    }
    75%{
        transformar:traduzirX(30px));
    }
    100%{
        transformar:traduzirX(0px);
    }
}

#entrada inscrever{
    fundo: chocolate;
    borda:nenhuma;
    cor: branco;
    altura:5vh;
    preenchimento: 2%;

}

#inscreverinput[type="texto"]{
    largura: 20vw;
    

}
#inscreverinput[type="e-mail"]{
    largura: 30vw;
    

}
#inscreverinput[type="enviar"]{
    fundo: branco;
    cor: preto;
    largura: 13vw;
}

#mapa{
    fundo: branco;
    altura:50vh;
    preenchimento: 1vh0;

}

. botão{
    posição: fixo;
    topo:0;
    direita: 2%;
    altura:100vh;
}

. botao-home{
    posição: relativa;
    topo: 85vh;
    largura: 70%;
}


rodapé{
    plano de fundo:#6f7075;
    cor: branco;
    altura:5vh;
    linha-altura: 5vh;

}